.red-modal-button {
  background-color: #dc3545;
}
.green-modal-button {
  background-color: #28a745;
}
.redstar{
  color: #dc3545;
}
.yellowstar{
  color: #ffc107;
}
.greenstar{
  color: #28a745;
}
.form-group input[type="checkbox"] {
    display: none;
}

.form-group input[type="checkbox"] + .btn-group > label span {
    width: 20px;
}

.form-group input[type="checkbox"] + .btn-group > label span:first-child {
    display: none;
}
.form-group input[type="checkbox"] + .btn-group > label span:last-child {
    display: inline-block;
}

.form-group input[type="checkbox"]:checked + .btn-group > label span:first-child {
    display: inline-block;
}
.form-group input[type="checkbox"]:checked + .btn-group > label span:last-child {
    display: none;
}
.insider {
  padding: 10px;
  border: 1px black solid;
}
.well:first-child {
  margin-top: 0px !important;
}
.well {
  margin-top: 10px;
}
.pagination {
    display: inline-block;
}
.pagination li {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-left: none !important;
    border: 1px solid #000;
}
.pagination li.active {
    background-color: #333;
    color: white !important;
}
.pagination li.active a {
    background-color: #333;
    color: white !important;
}
.pagination li a {
  text-decoration: none !important;
}

.pagination li:hover:not(.active) {background-color: #ddd;}
.pagination li:first-child {
  border-left: 1px solid black !important;
}
