<style>
	.navbar-right { float:right !important; margin-right: 5px; background-color: gray; border: 1px solid black; padding: 10px; position: fixed; bottom: 10px; right: 10px; z-index: 2;}
	.navbar-text { margin-right: 10px; color: white !important;}
</style>
<div class="navbar-right">
	<div class="navbar-text">
		<b>Twój Koszyk:</b>
		{{itemCount()}} produkt(y/ów),
		{{total() | currency}}
	</div>
	<a href="#!checkout" class="btn btn-primary"><i class="fas fa-shopping-cart"></i> Przejdź do koszyka</a>
</div>
