<div class="row" style="margin-top: 10px;" ng-controller="cartSummaryController">
	<div class="col col-lg-12" style="border: 1px solid black; padding: 20px;">
		<div class="insider">
	<h4>Twój koszyk:</h4>
	<div class="alert alert-warning" ng-hide="cartData.length != undefined && cartData.length != 0">
		Twój koszyk jest pusty.
		<a href="#!products" class="alert-link">Kliknij tutaj aby zrobić zakupy.</a>
	</div>
	<div class="well" ng-show="cartData.length != undefined && cartData.length != 0">
		<table class="table">
			<thead>
				<tr>
					<th>Ilość</th>
					<th>Produkt</th>
					<th class="text-right">Cena</th>
					<th class="text-right">Suma</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cartData">
					<td class="text-left"><input onkeydown="return false" ng-click="updateCartData()" style="width: 33%;" type="number" min="1" max="99" class="form-control" ng-model="cartData[$index].count"></td>
					<td class="text-left">{{item.name}}</td>
					<td class="text-right">{{item.price | currency}}</td>
					<td class="text-right">{{ (item.price * item.count) | currency }}</td>
					<td>
						<button ng-click="remove(item.product_id)" class="btn btn-sm btn-warning pull-right">Usuń</button>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4" class="text-right">Suma twojego zamówienia:</td>
					<td class="text-right">
						{{total() | currency}}
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
</div></br>
<div ng-show="cartData.length != undefined && cartData.length != 0" class="btn-group float-right">
	<a class="btn btn-primary" href="#!products">Kontynuuj zakupy</a>
	<a class="btn btn-success" ng-click="placeOrderFunction()" href="#!placeorder">Złóż zamówienie</a>
</div>
</div>
</div>
