<style>
	.navbar-left { float:left !important; background-color: gray; border: 1px solid black; padding: 10px; position: fixed; bottom: 10px; left: 10px; z-index: 2;}
	.navbar-text { margin-right: 10px; color: black !important;}
</style>
<div class="navbar-left">
	<div class="navbar-texta">
    <button type="button" class="btn btn-block btn-info" data-html="true" data-trigger="focus"  data-toggle="popover" data-placement="bottom" title="Legenda Formularzy" data-content='Pola oznaczone <span class="redstar"><b>*</b></span> są wymagane.</br>
       Jedno z pól oznaczonych <span class="yellowstar"><b>*</b></span> jest wymagane.</br>
       Pola oznaczone <span class="greenstar"><b>*</b></span> są opcjonalne.'>Legenda Formularzy</button>
	</div>
</div>
