<div ng-show="!authenticated" style="margin-top: 10px;" class="row">
  <div class="col col-lg-12">
    <div class="insider">
  <div class="alert alert-danger" role="alert"> <strong>No permission!</strong> You are not allowed to view this page.</div>
</div>
</div>
</div>
<div ng-show="authenticated" style="margin-top: 10px; border: 1px solid black;" class="row">
  <div class="col col-lg-4" style=" padding: 10px;">
    <div class="insider">
    <h4>Dane Personalne:</h4>
    <form ng-controller="updateinfoController">
      <label for="firstname">Imię:</label>
      <input type="text" name="firstname" class="form-control" ng-model="$root.user[0].firstname">
      <label for="lastname">Nazwisko:</label>
      <input type="text" name="lastname" class="form-control" ng-model="$root.user[0].lastname">
      <label for="lastname">Login:</label>
      <input type="text" name="lastname" class="form-control" ng-model="$root.user[0].username" disabled>
      <label for="password">Hasło:</label>
      <input type="password" name="password" class="form-control" ng-model="$root.user[0].password" disabled>
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changePassModal"><i class="fas fa-key"></i> Zmień Hasło</button>
      <label for="password">E-Mail:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].email">
      <label for="password">Adres:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].adress">
      <label for="password">Miasto:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].city">
      <label for="password">Kod Pocztowy:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].postalcode">
      <label for="password">Kraj:</label>
      <select class="form-control" ng-model="$root.user[0].country" required>
        <option value='' ng-selected="null" disabled>
          Select Country
        </option>
        <option ng-repeat="item in countries" value="{{item.country_id}}">
          {{item.name}}
        </option>
      </select></br>
      <button type="button" class="btn btn-success btn-block" ng-click="updateinfoFunction()"><i class="fas fa-save"></i> Zapisz Zmiany</button>
    </form>
  </div>
  </div>
  <div  class="col col-lg-8" style="padding: 10px;">
    <div id="accordion">
  <div class="card" contorller="ordersController">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Moje Zamówienia
        </button>
      </h5>
    </div>

    <div id="collapseOne" ng-controller="ordersController" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control float-left" placeholder="Szukaj..." ng-model="searchorder">
        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Data</th>
              <th>Płatność</th>
              <th>Realizacja</th>
              <th class="text-right">Kwota</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in $root.userOrders | filter:searchorder | startOf:currentPageOrders:perPageProfile">
              <td class="text-left">#{{item.order_id}}</td>
              <td class="text-left">{{item.date_placed | dateOnly}}</td>
              <td class="text-left">{{item.payment_status}}</td>
              <td class="text-left">{{item.shipping_status}}</td>
              <td class="text-right">{{item.total | currency}}</td>
              <td>
                <div class="btn-group float-right">
                <button ng-click="checkOrderFunction(item)" data-toggle="modal" data-target="#checkOrderModal" class="btn btn-sm btn-info"><i class="fas fa-search"></i></button>
                <button ng-click="editShippingFunction(item)"  data-toggle="modal" data-target="#editShippingModal" class="btn btn-sm btn-success"><i class="fas fa-download"></i></button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <ul uib-pagination boundary-links="true" onselectstart="return false;" items-per-page="perPageProfile" total-items="($root.userOrders | filter:searchcompany).length" ng-model="currentPageOrders" class="pagination float-right" max-size="maxSize" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Moje Firmy
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control float-left" placeholder="Szukaj..." ng-model="searchcompany">
        <table class="table">
          <thead>
            <tr>
              <th>Nazwa Firmy</th>
              <th>NIP</th>
              <th>Adress</th>
              <th>Kod Pocztowy</th>
              <th>Miasto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in companies | filter:searchcompany | startOf:currentPageCompany:perPageProfile">
              <td class="text-left">{{item.name}}</td>
              <td class="text-left">{{item.nip}}</td>
              <td class="text-left">{{item.adress}}</td>
              <td class="text-left">{{item.postalcode}}</td>
              <td>
                {{item.city}}
              </td>
              <td>
                <div class="btn-group float-right">
                <button ng-click="removeCompanyFunction(item)" class="btn btn-sm btn-danger"><i class="fas fa-minus-circle"></i></button>
                <button ng-click="editCompanyFunction(item)" data-toggle="modal" data-target="#editCompanyModal" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success float-left" data-toggle="modal" data-target="#addCompanyModal"><i class="fas fa-plus-circle"></i> Dodaj Firmę</button>
        <ul uib-pagination boundary-links="true" onselectstart="return false;" items-per-page="perPageProfile" total-items="(companies | filter:searchcompany).length" ng-model="currentPageCompany" class="pagination float-right" max-size="maxSize" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-block collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Moje Adresy Dostawy
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <input type="text" class="form-control float-left" placeholder="Szukaj..." ng-model="searchshipping">
        <table class="table">
          <thead>
            <tr>
              <th>Nazwa Adresu</th>
              <th>Dane</th>
              <th>Adres</th>
              <th>Kod Pocztowy</th>
              <th>Miasto</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in shippings | filter:searchshipping | startOf:currentPageShipping:perPageProfile">
              <td class="text-left">{{item.name}}</td>
              <td class="text-left">{{item.data}}</td>
              <td class="text-left">{{item.adress}}</td>
              <td class="text-left">{{item.postalcode}}</td>
              <td>
                {{item.city}}
              </td>
              <td>
                <div class="btn-group float-right">
                <button ng-click="removeShippingFunction(item)" class="btn btn-sm btn-danger"><i class="fas fa-minus-circle"></i></button>
                <button ng-click="editShippingFunction(item)"  data-toggle="modal" data-target="#editShippingModal" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i></button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
        <button type="button" class="btn btn-success float-left" data-toggle="modal" data-target="#addShippingModal"><i class="fas fa-plus-circle"></i> Dodaj Adres Dostawy</button>
        <ul uib-pagination boundary-links="true" onselectstart="return false;" items-per-page="perPageProfile" total-items="(shippings | filter:searchshipping).length" ng-model="currentPageShipping" class="pagination float-right" max-size="maxSize" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
      </div>
    </div>
  </div>
</div>
  </div>
</div>

<div class="modal fade" id="changePassModal"><div class="modal-dialog">
  <div class="modal-content" ng-controller="changepassController">
    <div class="modal-header"><h4 class="modal-title">Change Password</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body">
  <form name="login">
          <div class="row">
              <div class="col-lg-12">
                <label style="float: left;" for="inputOldPassword"><b>Old Password:</b></label>
                <input type="password" id="inputOldPassword" class="form-control" required autofocus ng-model="changePassData.passwordold" autofocus/>
              </div>
              <div class="col-lg-12">
                <label style="float: left;" for="inputNewPassword"><b>Password:</b></label>
                <input id="inputNewPassword" type="password" class="form-control" required ng-model="changePassData.passwordnew"/>
              </div>
              <div class="col-lg-12">
                <label style="float: left;" for="inputNewRePassword"><b>Repeat Password:</b></label>
                <input id="inputNewRePassword" type="password" class="form-control" required ng-model="changePassData.passwordnewre"/>
              </div>
          </div>
      </div>
      <div style="padding-left: 10px; padding-right: 10px;">
      <div class="alert alert-danger" ng-show="changePassData.passwordnew.length < 8 || changePassData.passwordnew == null" role="alert"> New password must contain at least 8 characters.</div>
      <div class="alert alert-danger" ng-show="changePassData.passwordnewre != changePassData.passwordnew" role="alert"> Passwords are not the same.</div>
    </div>
      <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button><button type="submit" ng-disabled="changePassData.passwordnewre != changePassData.passwordnew || changePassData.passwordnew.length < 8 || changePassData.passwordnew == null" ng-click="changePassFunction()" class="btn btn-success">Change Password</button></div></div></div>
      </form>
  </div>

  <div class="modal fade" id="addCompanyModal"><div class="modal-dialog">
    <div class="modal-content" ng-controller="addCompanyController">
      <div class="modal-header"><h4 class="modal-title">Dodaj Firmę</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
      <div class="modal-body">
    <form name="company">
            <div class="row">
                <div class="col-lg-12">
                  <label style="float: left;" for="inputCompanyName"><b>Nazwa Firmy:</b></label>
                  <input type="text" id="inputCompanyName" class="form-control" required autofocus ng-model="addCompanyData.name" autofocus/>
                  <label style="float: left;" for="inputCompanyNip"><b>NIP:</b></label>
                  <input id="inputCompanyNip" type="text" class="form-control" required ng-model="addCompanyData.nip"/>
                  <label style="float: left;" for="inputCompanyAdress"><b>Adres:</b></label>
                  <input id="inputCompanyAdress" type="text" class="form-control" required ng-model="addCompanyData.adress"/>
                  <label style="float: left;" for="inputCompanyPostalcode"><b>Kod Pocztowy:</b></label>
                  <input id="inputCompanyPostalcode" type="text" class="form-control" required ng-model="addCompanyData.postalcode"/>
                  <label style="float: left;" for="inputCompanyCity"><b>Miasto:</b></label>
                  <input id="inputCompanyCity" type="text" class="form-control" required ng-model="addCompanyData.city"/>
                </div>
            </div>
        </div>
        <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button><button type="submit" ng-click="addCompanyFunction()" class="btn btn-success">Dodaj Firmę</button></div></div></div>
        </form>
    </div>

    <div class="modal fade" id="editCompanyModal"><div class="modal-dialog">
      <div class="modal-content" ng-controller="appController">
        <div class="modal-header"><h4 class="modal-title">Edytuj Firmę</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-body">
      <form name="company">
              <div class="row">
                  <div class="col-lg-12">
                    <label style="float: left;" for="editCompanyName"><b>Nazwa Firmy:</b></label>
                    <input type="text" id="editCompanyName" class="form-control" required autofocus ng-model="editCompany.name" autofocus/>
                    <label style="float: left;" for="editCompanyNip"><b>NIP:</b></label>
                    <input id="editCompanyNip" type="text" class="form-control" required ng-model="editCompany.nip"/>
                    <label style="float: left;" for="editCompanyAdress"><b>Adres:</b></label>
                    <input id="editCompanyAdress" type="text" class="form-control" required ng-model="editCompany.adress"/>
                    <label style="float: left;" for="editCompanyPostalcode"><b>Kod Pocztowy:</b></label>
                    <input id="editCompanyPostalcode" type="text" class="form-control" required ng-model="editCompany.postalcode"/>
                    <label style="float: left;" for="editCompanyCity"><b>Miasto:</b></label>
                    <input id="editCompanyCity" type="text" class="form-control" required ng-model="editCompany.city"/>
                  </div>
              </div>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-danger" ng-click="cancelEditCompany()">Zamknij</button><button type="submit" ng-click="confirmEditCompany()" class="btn btn-success">Edytuj Firmę</button></div></div></div>
          </form>
      </div>

    <div class="modal fade" id="addShippingModal"><div class="modal-dialog">
      <div class="modal-content" ng-controller="addShippingController">
        <div class="modal-header"><h4 class="modal-title">Dodaj adres dostawy:</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
        <div class="modal-body">
      <form name="shipping">
              <div class="row">
                  <div class="col-lg-12">
                    <label style="float: left;" for="inputShippingName"><b>Nazwa:</b></label>
                    <input type="text" id="inputShippingName" class="form-control" required autofocus ng-model="addShippingData.name" autofocus/>
                    <label style="float: left;" for="inputShippingData"><b>Imię i Nazwisko:</b></label>
                    <input id="inputShippingData" type="text" class="form-control" required ng-model="addShippingData.data"/>
                    <label style="float: left;" for="inputShippingAdress"><b>Adres:</b></label>
                    <input id="inputShippingAdress" type="text" class="form-control" required ng-model="addShippingData.adress"/>
                    <label style="float: left;" for="inputShippingPostalcode"><b>Kod Pocztowy:</b></label>
                    <input id="inputShippingPostalcode" type="text" class="form-control" required ng-model="addShippingData.postalcode"/>
                    <label style="float: left;" for="inputShippingCity"><b>Miasto:</b></label>
                    <input id="inputShippingCity" type="text" class="form-control" required ng-model="addShippingData.city"/>
                  </div>
              </div>
          </div>
          <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Zamknij</button><button type="submit" ng-click="addShippingFunction()" class="btn btn-success">Dodaj Adres Dostawy</button></div></div></div>
          </form>
      </div>

      <div class="modal fade" id="editShippingModal"><div class="modal-dialog">
        <div class="modal-content" ng-controller="appController">
          <div class="modal-header"><h4 class="modal-title">Edytuj adres dostawy:</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
          <div class="modal-body">
        <form name="shipping">
                <div class="row">
                    <div class="col-lg-12">
                      <label style="float: left;" for="editShippingName"><b>Nazwa:</b></label>
                      <input type="text" id="editShippingName" class="form-control" required autofocus ng-model="editShipping.name" autofocus/>
                      <label style="float: left;" for="editShippingData"><b>Imię i Nazwisko:</b></label>
                      <input id="editShippingData" type="text" class="form-control" required ng-model="editShipping.data"/>
                      <label style="float: left;" for="editShippingAdress"><b>Adres:</b></label>
                      <input id="editShippingAdress" type="text" class="form-control" required ng-model="editShipping.adress"/>
                      <label style="float: left;" for="editShippingPostalcode"><b>Kod Pocztowy:</b></label>
                      <input id="editShippingPostalcode" type="text" class="form-control" required ng-model="editShipping.postalcode"/>
                      <label style="float: left;" for="editShippingCity"><b>Miasto:</b></label>
                      <input id="edittShippingCity" type="text" class="form-control" required ng-model="editShipping.city"/>
                    </div>
                </div>
            </div>
            <div class="modal-footer"><button type="button" class="btn btn-danger" ng-click="cancelEditShipping()">Zamknij</button><button type="submit" ng-click="confirmEditShipping()" class="btn btn-success">Edytuj Adres Dostawy</button></div></div></div>
            </form>
        </div>

        <div class="modal fade" id="checkOrderModal"><div class="modal-dialog">
          <div class="modal-content" ng-controller="ordersController">
            <div class="modal-header"><h4 class="modal-title">Numer zamówienia: #{{orderInfo.order_id}}</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
            <div class="modal-body">
                  <div class="row">
                    <div class="col col-lg-6 order-data">
                      <div class="insider">
                      <h5>Dane do Faktury:</h5>
                        <p><b>Imię i Nazwisko : </b></p>
                        <p>{{orderInfo.invoice_name}}</p>
                        <p ng-hide="orderInfo.invoice_company_name == null && orderInfo.invoice_company_name == undefined"><b>Nazwa Firmy : </b></p>
                        <p>{{orderInfo.invoice_company_name}}</p>
                        <p ng-show="orderInfo.invoice_nip != null && orderInfo.invoice_nip != undefined"><b>NIP : </b></p>
                        <p>{{orderInfo.invoice_nip}}</p>
                        <p><b>Adres : </b></p>
                        <p>{{orderInfo.invoice_adress}}</p>
                        <p><b>Kod pocztowy : </b></p>
                        <p>{{orderInfo.invoice_postalcode}}</p>
                        <p><b>Miasto : </b></p>
                        <p>{{orderInfo.invoice_city}}</p>
                      </div>
                    </div>
                    <div class="col col-lg-6 order-data">
                      <div class="insider">
                      <h5>Dane do Wysyłki:</h5>
                        <p><b>Imię i Nazwisko : </b></p>
                        <p>{{orderInfo.shipping_name}}</p>
                        <p><b>Adres : </b></p>
                        <p>{{orderInfo.shipping_adress}}</p>
                        <p><b>Kod pocztowy : </b></p>
                        <p>{{orderInfo.shipping_postalcode}}</p>
                        <p><b>Miasto : </b></p>
                        <p>{{orderInfo.shipping_city}}</p>
                      </div>
                      <button style="margin-top: 5px;" class="btn btn-block btn-warning">Edytuj adres wysyłki</button>
                    </div>
                    <div class="col col-lg-12" style="margin-top: 10px;">
                      <div class="insider">
                    <table class="table">
                      <h5>Lista produktów:</h5>
                      <thead>
                        <tr>
                          <th>Ilość</th>
                          <th>Produkt</th>
                          <th class="text-right">Cena</th>
                          <th class="text-right">Suma</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in $root.orderProducts">
                          <td class="text-left">{{item.quantity}}</td>
                          <td class="text-left">{{item.product_name}}</td>
                          <td class="text-right">{{item.price | currency}}</td>
                          <td class="text-right">{{item.price_total | currency}}</td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <td colspan="4" class="text-right"><b>Kwota zamówienia :</b> {{orderInfo.total | currency}}</td>
                      </tfoot>
                    </table>
                  </div>
                  </div>
                  </div>
              </div>
              <div class="modal-footer"><button type="button" data-dismiss="modal" class="btn btn-danger">Zamknij</button><button type="submit" ng-click="confirmEditShipping()" class="btn btn-success">Edytuj Adres Dostawy</button></div></div></div>
          </div>
