<div ng-show="!authenticated" style="margin-top: 20px;" class="row">
  <div class="col col-lg-12">
  <div class="alert alert-danger" role="alert"> <strong>No permission!</strong> You are not allowed to view this page.</div>
</div>
</div>
<div ng-show="authenticated" style="margin-top: 20px;" class="row">
  <div class="col col-lg-4" style="border: 1px solid black; padding: 10px;">
    <h4>Personal Data:</h4>
    <form ng-controller="updateinfoController">
      <label for="firstname">Firstname:</label>
      <input type="text" name="firstname" class="form-control" ng-model="$root.user[0].firstname">
      <label for="lastname">Lastname:</label>
      <input type="text" name="lastname" class="form-control" ng-model="$root.user[0].lastname">
      <label for="lastname">Username:</label>
      <input type="text" name="lastname" class="form-control" ng-model="$root.user[0].username" disabled>
      <label for="password">Password:</label>
      <input type="password" name="password" class="form-control" ng-model="$root.user[0].password" disabled>
      <button type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#changePassModal">Change Password</button>
      <label for="password">E-Mail:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].email">
      <label for="password">City:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].city">
      <label for="password">Postalcode:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].postalcode">
      <label for="password">Adress:</label>
      <input type="text" name="password" class="form-control" ng-model="$root.user[0].adress">
      <label for="password">Country:</label>
      <select class="form-control" ng-model="$root.user[0].country" required>
        <option value='' ng-selected="null" disabled>
          Select Country
        </option>
        <option ng-repeat="item in countries" value="{{item.country_id}}">
          {{item.name}}
        </option>
      </select></br>
      <button type="button" class="btn btn-success btn-block" ng-click="updateinfoFunction()">Save Changes</button>
    </form>
  </div>
  <div  class="col col-lg-1">
  </div>
  <div  class="col col-lg-7" style="border: 1px solid black; padding: 10px;">
    <h4>My Orders:</h4>
  </div>
</div>

<div class="modal fade" id="changePassModal"><div class="modal-dialog">
  <div class="modal-content" ng-controller="changepassController">
    <div class="modal-header"><h4 class="modal-title">Change Password</h4></br><button type="button" class="close" data-dismiss="modal">&times;</button></div>
    <div class="modal-body">
  <form name="login">
          <div class="row">
              <div class="col-lg-12">
                <label style="float: left;" for="inputOldPassword"><b>Old Password:</b></label>
                <input type="password" id="inputOldPassword" class="form-control" required autofocus ng-model="changePassData.passwordold" autofocus/>
              </div>
              <div class="col-lg-12">
                <label style="float: left;" for="inputNewPassword"><b>Password:</b></label>
                <input id="inputNewPassword" type="password" class="form-control" required ng-model="changePassData.passwordnew"/>
              </div>
              <div class="col-lg-12">
                <label style="float: left;" for="inputNewRePassword"><b>Repeat Password:</b></label>
                <input id="inputNewRePassword" type="password" class="form-control" required ng-model="changePassData.passwordnewre"/>
              </div>
          </div>
      </div>
      <div style="padding-left: 10px; padding-right: 10px;">
      <div class="alert alert-danger" ng-show="changePassData.passwordnew.length < 8 || changePassData.passwordnew == null" role="alert"> New password must contain at least 8 characters.</div>
      <div class="alert alert-danger" ng-show="changePassData.passwordnewre != changePassData.passwordnew" role="alert"> Passwords are not the same.</div>
    </div>
      <div class="modal-footer"><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button><button type="submit" ng-disabled="changePassData.passwordnewre != changePassData.passwordnew || changePassData.passwordnew.length < 8 || changePassData.passwordnew == null" ng-click="changePassFunction()" class="btn btn-success">Change Password</button></div></div></div>
      </form>
  </div>
