<div class="row" style="margin-top: 10px; padding: 10px; border: 1px solid black;">
<div class="col col-lg-3 col-md-12 col-sm-12" style="padding: 10px;">
  <div class="insider">
   <h4>Dane do faktury:</h4>
   <form name="myForm" onselectstart="return false;">
     <label>
       <input type="radio" ng-model="$parent.invoice_type" ng-value="0">
       Osoba prywatna
     </label>
     <label style="padding-left: 10px;">
       <input type="radio" ng-model="$parent.invoice_type" ng-value="1">
       Firma
     </label><br/>
    </form>
   <form ng-show="invoice_type == 0 && invoice_type != 1">
     <label for="firstname"><span class="redstar">*</span> Imię i Nazwisko:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_name" ng-value="$root.user[0].firstname + ' ' + $root.user[0].lastname">
     <label for="firstname"><span class="redstar">*</span> Adres:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_adress" ng-value="$root.user[0].adress">
     <label for="firstname"><span class="redstar">*</span> Kod Pocztowy:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_postalcode" ng-value="$root.user[0].postalcode">
     <label for="firstname"><span class="redstar">*</span> Miasto:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_city" ng-value="$root.user[0].city">
   </form>
   <form ng-show="invoice_type != 0 && invoice_type == 1">
     <select ng-show="authenticated" class="form-control" ng-model="$parent.companyId">
       <option value='' ng-selected="null" disabled>
         Select Shipping Adress
       </option>
       <option ng-repeat="(key, item) in companies" value="{{key}}">
        {{item.name}}
       </option>
     </select>
     <label for="firstname"><span class="yellowstar">*</span> Imię i Nazwisko:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_name" ng-value="$root.user[0].firstname + ' ' + $root.user[0].lastname">
     <span ng-hide="formPlace.firstname.length > 0 || formPlace.company.length > 0" class="badge badge-warning">Jedno z tych pól musi być uzupełnione.</span>
     <label for="firstname"><span class="yellowstar">*</span> Nazwa Firmy:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_company_name" ng-value="company.name">
     <span ng-hide="formPlace.firstname.length > 0 || formPlace.company.length > 0" class="badge badge-warning">Jedno z tych pól musi być uzupełnione.</span>
     <label for="firstname"><span class="redstar">*</span> Numer Identyfikacji Podatkowej :</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_nip" ng-value="company.nip">
     <label for="firstname"><span class="redstar">*</span> Adres:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_adress" ng-value="company.adress">
     <label for="firstname"><span class="redstar">*</span> Kod Pocztowy:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_postalcode" ng-value="company.postalcode">
     <label for="firstname"><span class="redstar">*</span> Miasto:</label>
     <input type="text" name="firstname" class="form-control" ng-model="orderData.invoice_city" ng-value="company.city">
   </form>
 </div>

</div>
<div class="col col-lg-3 col-sm-12" style="padding: 10px;">
  <div class="insider">
  <h4>Dane do wysyłki:</h4>
  <form>
    <select ng-show="authenticated" class="form-control" ng-model="$parent.shippingId">
      <option value="" ng-selected="null" disabled>
        Select Shipping Adress
      </option>
      <option ng-repeat="(key, item) in shippings" value="{{key}}">
        {{item.name}}
      </option>
    </select>
    <div ng-show="shippingId == null">
    <label for="firstname"><span class="redstar">*</span> Imię i Nazwisko:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_name" ng-value="$root.user[0].firstname + ' ' + $root.user[0].lastname">
    <label for="firstname"><span class="redstar">*</span> Adres:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_adress" ng-value="$root.user[0].adress">
    <label for="firstname"><span class="redstar">*</span> Kod Pocztowy:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_postalcode" ng-value="$root.user[0].postalcode">
    <label for="firstname"><span class="redstar">*</span> Miasto:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_city" ng-value="$root.user[0].city">
    </div>
    <div ng-show="shippingId != null">
    <label for="firstname"><span class="redstar">*</span> Imię i Nazwisko:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_name" ng-value="shipping.data">
    <label for="firstname"><span class="redstar">*</span> Adres:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_adress" ng-value="shipping.adress">
    <label for="firstname"><span class="redstar">*</span> Kod Pocztowy:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_postalcode" ng-value="shipping.postalcode">
    <label for="firstname"><span class="redstar">*</span> Miasto:</label>
    <input type="text" name="firstname" class="form-control" ng-model="orderData.shipping_city" ng-value="shipping.city">
    </div>
  </form>
   </div>
</div>
<div class="col col-lg-6 col-sm-12" style="padding: 10px;" ng-controller="cartSummaryController">
  <div class="insider">
  <h4>Podsumowanie zamówienia:</h4>
		<table class="table">
			<thead>
				<tr>
					<th>Ilość</th>
					<th>Produkt</th>
					<th class="text-right">Cena</th>
					<th class="text-right">Suma</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in cartData">
					<td class="text-left">{{item.count}}</td>
					<td class="text-left">{{item.name}}</td>
					<td class="text-right">{{item.price | currency}}</td>
					<td class="text-right">{{ (item.price * item.count) | currency }}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<td colspan="3" class="text-right">Suma twojego zamówienia:</td>
					<td class="text-right">
						{{total() | currency}}
					</td>
				</tr>
			</tfoot>
		</table>
</div></br>
<div class="btn-group float-right">
  <a class="btn btn-primary" href="#!products"><i class="fas fa-undo-alt"></i> Kontynuuj zakupy</a>
  <a class="btn btn-success" ng-click="placeOrderFunction()"><i class="fas fa-check"></i> Potwierdź zamówienie</a>
</div>
</div>
</div>
