<div class="row" style="margin-top: 10px; border: 1px solid black; padding-top: 10px; padding-bottom: 10px;">
  <div class="col col-lg-3">
    <div class="insider">
    {{singleProduct.name}}
    </div>
  </div>
  <div class="col col-lg-3">
    <div class="insider">
    {{singleProduct.brand_name}}
    {{singleProduct.category_name}}
    </div>
  </div>
  <div class="col col-lg-6">
    <div class="insider">
    <div uib-carousel active="active" active="active" interval="myInterval" no-wrap="noWrapSlides" class="ng-isolate-scope carousel">
      <div uib-slide ng-repeat="(key, value) in singleProduct.images track by key" index="key">
        <img ng-src="{{value}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>{{key}}</h4>
        </div>
      </div>
    </div>
</div>
  </div>
  <div class="col col-lg-12" style="padding-top: 10px;">
  <button ng-click="getProductsOnAdd(singleProduct);" class="btn btn-success float-right">Dodaj do koszyka</button>
</div>
</div>
