<div class="row" style="margin-top: 10px;">
<div class="col-lg-3">
  <div class="insider">
  <div class="insider">
  <h4> Filters : </h4>
    <input type="text" class="form-control" placeholder="Szukaj..." ng-model="search"></br>
<div id="accordion"  onselectstart="return false;">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Categories
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <div class="custom-control custom-checkbox" ng-repeat="item in categories">
            <input type="checkbox" ng-click="currentPage=0" ng-model="item.checked" value="{{item.checked}}" class="custom-control-input" id="checkbox-{{item.name}}">
            <label class="custom-control-label" for="checkbox-{{item.name}}">{{item.name}}</label>
          </div>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-default btn-block" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Brands
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <div class="custom-control custom-checkbox" ng-repeat="item in brands">
            <input type="checkbox" ng-model="item.checked" value={{item.checked}} class="custom-control-input" id="checkbox-{{item.name}}">
            <label class="custom-control-label" for="checkbox-{{item.name}}">{{item.name}} </label>
          </div>
      </div>
    </div>
  </div>
</div>
<button type="button" class="btn btn-outline-primary btn-block">Clear Filters</button>
</div>
</div>
</div>
  <div class="col-lg-9">
    <div class="insider">
      <div class="row">
        <div class="col-lg-3 text-center" ng-repeat="item in products | filter:search | startFrom:currentPage:perPage">
          <div class="insider">
      <img style="max-width: 100%; height: auto;" src="{{item.main_img}}"/>
    <strong><a href="#!product/{{item.product_id}}">{{item.name}}</a></strong></br>
          <h5><span class="badge badge-info">{{item.price | currency}}</span></h5>
  <button ng-click="getProductsOnAdd(item);" class="btn btn-sm btn-success"><i class="fas fa-cart-plus"></i> Dodaj do koszyka</button></br>
  <span style="font-size: 12px;">Kategoria: {{item.category_name}}</span></br>
  <span style="font-size: 12px;">Marka: {{item.brand_name}}</span>
</div></br>
  </div>
</div>

  <div class="alert alert-warning" ng-show="products.length == 0">
    We didn't find any result with this criteria.
    <a ng-click="getProductsFunction()" class="alert-link">Click here to reset filters.</a>
  </div>
</div></br>
<div class="row">
  <div class="col col-lg-2">
<select class="form-control" ng-model="perPage">
  <option disabled ng-value=8>Produktów na strone...</option>
   <option value=4 selected>4</option>
   <option value=8>8</option>
   <option value=16>16</option>
   <option value=32>32</option>
   <option value=64>64</option>
 </select>
</div>
 <div class="col col-lg-10">
 <ul uib-pagination boundary-links="true" onselectstart="return false;" items-per-page="perPage" total-items="(products | filter:search).length" ng-model="currentPage" class="pagination float-right" max-size="maxSize" boundary-link-numbers="true" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
</div>
</div>
</div>
